@media only screen and ( max-width: 1000px){
    .abstract-1,.abstract-2,.abstract-3{
        display: none;
    }
    nav #nav-brand{
        font-weight: bold;
        font-size: 22px;
        line-height: 50px;
        text-align: center;
        letter-spacing: 0.1em;
        color: #80BEA0;
    }
    .nav-item li{
        list-style-type: none;
        padding: 0px 5px;
    }
    button[id="session"]{
        background: none;
        outline: none;
        cursor: pointer;
        padding: 8px 10px;
        border: 2px solid #80BEA0;
        color: #80BEA0;
        font-weight: 700;
    }
    .banner{
        width: 100%;
        height: auto;
        margin-top: 14vh;
        display: block;
    }
    .left-banner{
        width: 50%;
        min-height: 50vh;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .left-banner .content{
        min-width: 80%;
        padding: 80px 20px;
        background: rgba(231, 255, 237, 0.314);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
    }
    .left-banner .content .small{
        font-size: 16px;
    }
    .left-banner .content .normal{
        font-size: 22px;
    }
    .left-banner .content .big{
        font-size: 32px;
    }   
    .right-banner{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
    }
    form{
        width: 80vw !important;
        margin: 0;
        padding: 0;
    }
    .svg-arrow-2{
        width: 100%;
        text-align: center;
    }
}