*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    /* background-color: #3bb78f; */
    background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
    /* background-image: url(./Images/wave.svg); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

/* navbar */
.nav{
    position: fixed;
    top: 0;
    z-index: 100;
    background: rgba(1, 29, 15, 0.9);
    box-shadow: 0px 0px 20px 20px rgba(1, 29, 15, 0.74);
    width: 100vw;
    height: 11vh;
    padding: 10px;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    flex-flow: row;
}
.nav #brand{
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #80BEA0;
}
.nav .item{
    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
}
.nav .item li{
    list-style-type: none;
    font-size: 16px;
    padding: 0px 10px;
}
.nav #hamburger h5{
    color: #80BEA0;
}
.nav button[id="session"]{
    background: none;
    outline: none;
    cursor: pointer;
    padding: 4px 40px;
    border: 5px solid #80BEA0;
    color: #80BEA0;
    font-weight: 700;
}
.nav a{
    text-decoration: none !important;
    color: #80BEA0;
}
.nav a:hover{
    color: #80BEA0;
}

.PI{
    margin-top: 10vh;
}
/* header */
#main-header{
    padding: 10px;
    color: #ffffff;
    margin: 0;
    font-family: 'Playball', cursive;
    font-size: 6em;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 2px 2px rgba(0,0,0,.5);
}

.objectives{
    font-family: 'Kalam', cursive;
    font-size: 1.5em;
}

.detail{
    font-family: 'Kalam', cursive;
    font-size: 1.4em;
    padding-left: 20px;
}

.obj-card{
    -webkit-box-shadow: 10px 10px 23px -5px rgba(9,122,71,0.14);
    -moz-box-shadow: 10px 10px 23px -5px rgba(9,122,71,0.14);
    box-shadow: 10px 10px 23px -5px rgba(9,122,71,0.14);
    margin: 1.5em;
}

.center{
    display: flex;
    justify-content: center;
}

.profile-box{
    margin-top: 2em;
    height: auto;
}


.right{
    /* display: -webkit-flex; */
    text-align: right;
    font-family: 'Kalam', cursive;
    font-size: 1.3em;
}

.pro-dis{
    position: absolute;
    margin-top: -14vh;
    background-image: url(./../Images/wave.svg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-shadow: 10px 10px 23px -5px rgba(9,122,71,0.14);
    -moz-box-shadow: 10px 10px 23px -5px rgba(9,122,71,0.14);
    box-shadow: 10px 10px 23px -5px rgba(9,122,71,0.14);
}


.pro-dis {
    position: absolute;
    margin-top: -14vh;
    background-image: url(./../Images/wave.svg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-shadow: 10px 10px 23px -5px rgba(9,122,71,0.14);
    -moz-box-shadow: 10px 10px 23px -5px rgba(9,122,71,0.14);
    box-shadow: 10px 10px 23px -5px rgba(9,122,71,0.14);
}

.obj p{
    height: fit-content;
    margin: 1em;
    font-family: 'Satisfy', cursive;
    font-size: 3em;
    text-shadow: -1px -1px 1px rgb(255, 255, 255), -1px 2px 2px rgba(9, 206, 19, 0.4);
}

.PI{
    color: white;
    font-size: 4em;
    font-family: 'Patua One', cursive;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 2px 2px rgba(0,0,0,.5);
}

.submit a{
    color: white;
    transition-delay: 100ms;
}

.submit a:hover{
    color: inherit;
    text-decoration: none;
    transition-delay: 100ms;
}




/* Scroll bar */
body::-webkit-scrollbar {
    width: 0.7em;
}
   
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgba(28, 218, 91, 0.1);
}

body::-webkit-scrollbar-thumb {
    background-color: green;
    border-radius: 5px;
    outline: 1px solid rgba(15, 204, 31, 0.1);
}

@media only screen and ( max-width: 1000px){
    .nav{
        width: 102vw;
        height: 9vh;
    }
    .nav #brand{
        font-weight: bold;
        font-size: 38px;
        line-height: 50px;
        text-align: center;
        letter-spacing: 0.1em;
        color: #80BEA0;
        margin-left: 20px;
    }
    .item li{
        list-style-type: none;
        padding: 0px 0px;
    }
    button[id="session"]{
        background: none;
        outline: none;
        cursor: pointer;
        padding: 8px 40px;
        border: 2px solid #80BEA0;
        color: #80BEA0;
        font-weight: 700;
    }
    #hamburger h5{
        display: none;
    }
}